.options {
  position: relative;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 1% 5%;
}

@media (max-width: 400px) {
  .options {
    grid-row: 5 / 6;
    margin-top: 20px;
    gap: 8px;
    justify-content: center;
  }
}
.option {
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 60%;
  background-color: var(--color-grey-dark-1);
  position: absolute;
  transform: translateX(-1000%);
}
@media (max-width: 400px) {
  .option:not(:last-child)::after {
    content: unset;
  }
}

.option a:link,
.option a:visited {
  text-decoration: none;
  color: #d7dfe8;
}
.option a:link:hover,
.option a:visited:hover {
  color: var(--color-primary);
}
