.student-cards {
  grid-column: 1 / -1;
  grid-row: 2/3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-card {
  display: flex;
  flex-direction: column;
  flex: 1;

  border-radius: 15px;
  margin: 0 10px;
  box-shadow: var(--shadow-light);
}

.student-card-title {
  margin: 1px 15px;
  font-size: 1.6rem;
}
.students-list {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}
.student-item {
  display: flex;
  list-style: none;
  padding: 3px 5px;
  margin: 2px 5px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.student-item p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-grey-dark-1-2);
}
.student-img-container {
  width: 2.5rem;
  height: 2.5rem;
}
.student-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
