.student-cards {
  grid-column: 1 / -1;
  grid-row: 2/3;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.student-card {
  display: flex;
  flex-direction: column;
  flex: 1;

  border-radius: 15px;
  margin: 0 10px;
  box-shadow: var(--shadow-light);
}

.student-card-title {
  margin: 1px 15px;
  font-size: 1.6rem;
}
.students-list {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
}
