.dotted-line-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.dotted-line {
  flex: 1 0 0;
  border-left: 2px dotted var(--color-grey-light-1);
  width: 5px;
}

.dotted-line-day:link,
.dotted-line-day:visited {
  text-decoration: none;
  color: var(--color-grey-dark-1);
}
.dotted-line-day:link:hover,
.dotted-line-day:visited:hover {
  color: var(--color-grey-dark-2);
}

.now-line-box {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: -18px;
  top: -4px;
}
.now-line {
  width: 5px;
  border-left: 2px solid var(--color-primary);
  height: 100%;
}
.now-text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}
.task-box {
  position: absolute;
  z-index: 10;
  width: 850%;
  flex: 1;
  height: 16%;
  border-radius: 100px;
  background-color: #bef264;
  left: 20px;
  bottom: 40px;
  display: flex;
  box-shadow: var(--shadow-light);
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.text-box p {
  font-size: 10px;
  color: #868e96;
  font-weight: 700;
}
.text-box span {
  font-size: 10px;
  font-weight: 700;
  color: #495057;
}
.icon-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.icon-box::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #84cc16;
}
.icon-box svg {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  font-weight: 700;
  color: #84cc16;
  z-index: 10;
}

.box-1 {
}
.box-7 {
  width: 520%;
  background-color: #fef08a;
}
.box-7-plus {
  background-color: #fef08a;
  width: 520%;
  left: 20px;
  bottom: 82px;
}
.box-11 {
  background-color: #e2e8f0;
  width: 520%;
  left: 20px;
  bottom: 82px;
}
.box-15 {
  background-color: #e2e8f0;
  width: 710%;
}

.icon-box-1 svg {
}
.icon-box-7 svg {
  color: var(--color-primary);
}
.icon-box-7-plus svg {
  color: var(--color-primary);
}
.icon-box-11 svg {
  color: var(--color-primary);
}
.icon-box-15 svg {
  color: var(--color-primary);
}

.icon-box-1::before {
}
.icon-box-7::before {
  border: 2px solid #84cc16;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.icon-box-7-plus::before {
  border: 2px solid #84cc16;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.icon-box-11::before {
  border: 2px solid var(--color-primary);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
}
.icon-box-15::before {
  border: 2px solid var(--color-primary);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(45deg);
  
}
