.dotted-line-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.dotted-line {
  flex: 1 0 0;
  border-left: 2px dotted var(--color-grey-light-1);
  width: 5px;
}

.dotted-line-day:link,
.dotted-line-day:visited {
  text-decoration: none;
  color: var(--color-grey-dark-1);
}
.dotted-line-day:link:hover,
.dotted-line-day:visited:hover {
  color: var(--color-grey-dark-2);
}
