.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.2rem;
  margin-top: 2.5rem;
}
.header-box {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  color: var(--color-primary);
}
.header h1 {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--color-primary);
}
.header-box a:link,
.header-box a:visited {
  text-decoration: none;
  color: #738196;
  font-size: 1rem;
  font-weight: 600;

  transition: all 0.3;
}
.header-box a:link:hover,
.header-box a:visited:hover {
  color: #303136;
}

.settings-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-link {
  margin-right: 3rem;
}
.settings-link:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  bottom: 2px;
  background-color: #d7dfe8;
  z-index: 20;
  margin-left: 10px;
}

.settings-link a:link,
.settings-link a:visited {
  text-decoration: none;
  color: #d7dfe8;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.settings-link a:link:hover,
.settings-link a:visited:hover {
  color: var(--color-primary);
}
