.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3.2rem;
  margin-top: 2.5rem;
}
@media (max-width: 550px) {
  .title-box {
    flex-wrap: wrap;
  }
}
