.wrapper {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  
}


@media (max-width: 600px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
