.user-icons{
    display: flex;
    margin-right: 3rem;
}
.user-icon{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--color-primary);
    margin-right: 3rem;
}
.user-img{
    width: 3rem;
    height: 3rem;
}
.user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-icon a:link,
.user-icon a:visited{
    text-decoration: none;
    color: inherit;

    transition: all 0.3s;
}

.user-icon a:link:hover,
.user-icon a:visited:hover{
    color: #c3c9ce;
}