@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  /* COLOR VARIABLES */
  --color-primary: #64748b;;
  --color-white: #ffffff;

  --color-grey-light-1: #dfe5ed;
  --color-grey-light-2: #d0d9e4;

  --color-grey-dark-1: #adb5bd;
  --color-grey-dark-3: #212529;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-medium: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* FONT VARIABLES */
  --font-primary: "Lato", sans-serif;

  /* RESPONSİVE BREAKPOINTS VARIABLES */
  --bp-largest: 75em; /*1200px */
  --bp-large: 62.5em; /*1000px*/
  --bp-medium: 50em; /*800px*/
  --bp-small: 37.5em; /*600px*/
  --bp-smallest: 31.25em; /*600px*/
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px*/

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; /* 1rem = 8px*/
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-primary), sans-serif;
  color: var(--color-primary);
  font-weight: 300;
  line-height: 1.6;
  
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}


/* Reset button element */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

