.now-line-box {
    position: absolute;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: -18px;
    top: -4px;
  }
  .now-line {
    width: 5px;
    border-left: 2px solid var(--color-primary);
    height: 100%;
  }
  .now-text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary);
  }